{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block head %}
  {{ super() }}

  <link rel="stylesheet" type="text/css" href="/public/css/accessible-autocomplete.min.css">
{% endblock %}

{% block content %}

<style>

/*===== Vertical Timeline =====*/
#conference-timeline {
  position: relative;
  max-width: auto;
  width: 100%;
  align-items: left;
  margin-left: 0px;

}

#conference-timeline .conference-center-line {
  position: absolute;
  width: 1px;
  height: 90%;
  top: 0;
  bottom: 0px;
  left: 16px;
  margin-left: -1px;
  background: black;

}
#conference-timeline .conference-timeline-content {
  padding-top: 0px;
  padding-bottom: 0px;
}

.timeline-article {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 20px 0;
}

.timeline-article .content-right-container {
  max-width: 87%;
  width: 100%;
  margin-left: -20px;
}


.timeline-article .content-right {
  position: relative;
  width: 100%;
  padding: 0px 10px;
}
.timeline-article p {
  margin: 0 0 0 10;
  padding: 0 0 0 0;
  font-weight: 400;
  color: #242424;
  font-size: 16px;
  line-height: 24px;
  position: relative;
}

.timeline-article .content-complete {
  margin: 0 0 0 10;
  padding: 0 0 0 0;
  font-weight: 400;
  color: #242424;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  position: relative;
}

.timeline-article .content-right-container {
  float: right;
}

.timeline-article .content-right:before{
  position: absolute;
  content: "";
  left: -8px;
  top: 20px;
  font-size: 23px;
  color: #fff;
}

.timeline-article .meta-date {
  position: absolute;
  top: 0;
  left: 16px;
  width: 30px;
  height: 30px;
  margin-left: -16px;
  border-radius: 100%;
  border: 1px solid #BFC1C3;
  background: #FFF;
}

.timeline-article .meta-date .date {
  display: block;
  text-align: center;
  font-weight: 900;
  color: #BFC1C3;

}
.timeline-article .meta-date .date {
  font-size: 14px;
  line-height: 30px;

}

/*===== // Vertical Timeline =====*/

.section-heading {
  float: left;
  padding: 5px 30px;

}

.display-none {
    display: none;
  }

.alert {
    padding: 0px;
    margin-bottom: 0px;
}

.alert.info {
  background-color: #FFFFFF;
  border: 3px solid #005EA5
}

</style>

<main id="content" role="main">
  <div class="grid-row">
  <div class="column-full">
    <div class="gobreadcrumb" style="margin-top: 20px">

    <ol >
      <li class="" style="float: left;"><a href="/home">Home</a><span style="color: #cccccc; padding: 0 10px 0 10px">&#62;</span></li>
      <li class="" style="float: left;"><a href="/index">AP1</a></li>
    </ol>
    
  </div>

  <div style="clear: left;"></div>
  <div style="clear: left;"></div>

      <h1 class="heading-large">
        Application to change the register
      </h1>

<form id="error" class="display-none" method="post" action="where-you-want-to-post/journal">
<div class="alert info">
  <p style="margin-left: 10px; margin-top: 10px; margin-bottom: 10px;"><span style="font-weight: bold;">Discharge</span><br>This item is not available as it's currently being worked on.<br><a href="">Learn more</a></p>
</div>
</form>

</div>

<div class="column-two-thirds">

<div style="margin-top: 30px;"></div>

<hr>

<h2 class="heading-medium">Add an application</h2>

    <div class="form-group">
  <label class="form-label" for="select-box" style="font-weight: bold; font-size: 14pt;">Choose an application</label>
  <select class="form-control" id="dropdown" onchange="showForm()">
    <option value=""></option>
                  <option value="chargeDiv">Charge</option>
                  <option value="error">Discharge</option>
                  <option value="transferDiv">Transfer</option>
                  <option value="" disabled="disabled">&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;</option>
                  <option value="4">Agreed notice</option>
                  <option value="4">Amalgamation</option>
                  <option value="4">Assent</option>
                  <option value="4">Change of address</option>
                  <option value="4">Change of name</option>
                  <option value="4">Change property description</option>
                  <option value="4">Death of joint proprietor</option>
                  <option value="4">Deed of grant</option>
                  <option value="4">Merge lease</option>
                  <option value="4">Noting of easement</option>
                  <option value="4">Noting of lease</option>
                  <option value="4">Postponement of charge</option>
                  <option value="4">Severance of joint tenancy</option>
                  <option value="4">Statutory vesting</option>
                  <option value="4">Variation of lease</option>
  </select>

  <form id="transferDiv" class="display-none" method="post" action="where-you-want-to-post/book">
    <div class="form-group">
  <fieldset>

    <h2 class="heading-small">The application affects</h2>

    <div class="multiple-choice" data-target="contact-by-email">
      <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Yes">
      <label for="example-contact-by-email">The whole of the title(s)</label>
    </div>

    <div class="multiple-choice" data-target="contact-by-phone">
      <input id="example-contact-by-phone" type="radio" name="radio-contact-group" value="No">
      <label for="example-contact-by-phone">Part of the title(s)</label>
    </div>
    <div class="panel panel-border-narrow js-hidden" id="contact-by-phone">
      <label class="form-label" for="contact-phone">
        Describe the part affected 
        <span class="form-hint">
          For example, "edged red on the plan to the transfer dated 10/07/2016"
        </span>
      </label>
      <textarea class="form-control form-control-3-4" name="textarea" id="textarea" rows="5"></textarea>
    </div>
  </fieldset>
</div>
<div class="form-group">
  <label class="form-label" for="ni-number" style="font-weight: bold; font-size: 14pt;">
    Value or price paid
    <span class="form-hint">
      Enter the amount in pounds sterling - for amounts in other currencies, provide the equivalent value.
    </span>
  </label>
  <input class="form-control" id="ni-number" type="text" name="ni-number">
</div>

<div class="form-group">
  <label class="form-label" for="ni-number" style="font-weight: bold; font-size: 14pt;">
    Fees paid
    <span class="form-hint">
      Enter the amount in pounds sterling - for amounts in other currencies, provide the equivalent value
    </span>
  </label>
  <input class="form-control" id="ni-number" type="text" name="ni-number">
</div>

<a href="">
<p>Fee calculator</p>
</a>

</form>
<form id="chargeDiv" class="display-none" method="post" action="where-you-want-to-post/webpage">
  <!--div id="chargeDiv" style="display: none;"-->
  <div class="form-group" style="margin-top: 20px;">
    <label class="form-label" for="full-name-f1">MD reference (if known)</label>
    <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
  </div>
  <div class="form-group">
    <label class="form-label" for="full-name-f1">Lender name</label>
    <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
  </div>
<!--/div-->

</form>
<form id="3" class="display-none" method="post" action="where-you-want-to-post/journal">
  <input type="submit" value="Submit Journal" />
</form>

</div>

<a href="/review-application">
<input class="button" type="submit" value="Save and continue"> 
</a>     

</div>

<div class="column-one-third">
    
  <hr style="height: 3px; border: none; color: #005EA5; background-color: #005EA5;">

<section id="conference-timeline">

    <div class="conference-center-line"></div>
    <div class="conference-timeline-content">
      <!-- Article -->
      <div class="timeline-article">
        <div class="content-right-container">
          <div class="content-right">
            <p class="content-complete">Add title number</p>
          </div>

        </div>
        <div class="meta-date" style="border: 1px solid #0B0C0C;">
          <span class="date" style="color: #0B0C0C;">1</span>

        </div>
      </div>
      <!-- // Article -->
      
      <!-- Article -->
      <div class="timeline-article">

        <div class="content-right-container">
          <div class="content-right">
            <p class="content-complete">Choose an application type</p>
          </div>

        </div>
        <div class="meta-date" style="border: 1px solid #0B0C0C;">
          <span class="date" style="color: #0B0C0C;">2</span>

        </div>
      </div>
      <!-- // Article -->

      <!-- Article -->
      <div class="timeline-article">
        <div class="content-right-container">
          <div class="content-right">
            <p>Add applicant details</p>
          </div>

        </div>
        <div class="meta-date">
          <span class="date">3</span>

        </div>
      </div>
      <!-- // Article -->

      <!-- Article -->
      <div class="timeline-article">
        <div class="content-right-container">
          <div class="content-right">
            <p>Upload documents</p>
          </div>

        </div>
        <div class="meta-date">
          <span class="date">4</span>

        </div>
      </div>
      <!-- // Article -->

      <!-- Article -->
      <div class="timeline-article">
        <div class="content-right-container">
          <div class="content-right">
            <p>Submit your application</p>
          </div>

        </div>
        <div class="meta-date">
          <span class="date">5</span>

        </div>
      </div>
      <!-- // Article -->
      
    </div>

  </section>

</div>

</main>

{% endblock %}

{% block page_scripts %}

<script>
    var showForm = function() {
    var allForms = document.getElementsByTagName('form');
    var dropdown = document.getElementById("dropdown");
    if (dropdown.value != "-1") {
        var form = document.getElementById(dropdown.value);
        for (var i = 0; i < allForms.length; i++) {
            allForms[i].setAttribute("class", "display-none");
        }
        form.setAttribute("class", "");
    }
}
</script>

  <!--script src="/public/javascripts/accessible-autocomplete.min.js"></script>

  <script>
    accessibleAutocomplete.enhanceSelectElement({
      selectElement: document.querySelector('#application-type')
    })
  </script-->

{% endblock %}


