{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<style>

table th {
  font-size: medium;
}

table td {
  font-size: medium;

}

</style>

<main id="content" role="main">

  <div class="grid-row">
  <div class="column-full">
    <div class="gobreadcrumb" style="margin-top: 20px">

    <ol >
      <li class="" style="float: left;"><a href="/home">Home</a><span style="color: #cccccc; padding: 0 10px 0 10px">&#62;</span></li>
      <li class="" style="float: left;"><a href="/index">AP1</a></li>
    </ol>
    
  </div>

  <div style="clear: left;"></div>
  <div style="clear: left;"></div>

  <h1 class="heading-large">
    Application to change the register
  </h1>

  <div class="" style="margin-top: 30px; margin-bottom: 40px;">
<a class="button button-start" href="/title-number2" role="button">Start new application</a>
</div>

<hr style="height: 3px; border: none; color: #BFC1C3; background-color: #BFC1C3;">

<h2 class="heading-small" style="margin-bottom: 20px;">List of applications that have been completed or are in progress</h2>

<table>
  <thead>
    <tr>
      <th scope="col">Title number</th>
      <th class="numeric" scope="col">Address</th>
      <th class="numeric" scope="col">Application type</th>
      <th class="numeric" scope="col">Status</th>
      <th class="numeric" scope="col"></th>
      <th class="numeric" scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">123456789</th>
      <td class="numeric">8 Somewhere St, Someplace, Someshire</td>
      <td class="numeric">Transfer</td>
      <td class="numeric">Completed</td>
      <td></td>
      <td style="font-size: medium;"><a href="/review-all-complete">View</a></td>
    </tr>
    <tr>
      <th scope="row">123456789</th>
      <td class="numeric">8 Somewhere St, Someplace, Someshire</td>
      <td class="numeric">Charge</td>
      <td class="numeric">In progress</td>
      <td></td>
      <td style="font-size: medium;"><a href="/review-all-alerts">View</a></td>
    </tr>
    <tr>
      <th scope="row">123456789</th>
      <td class="numeric">8 Somewhere St, Someplace, Someshire</td>
      <td class="numeric">Transfer</td>
      <td class="numeric">Completed</td>
      <td></td>
      <td style="font-size: medium;"><a href="../index.html">View</a></td>
    </tr>
    <tr>
      <th scope="row">123456789</th>
      <td class="numeric">8 Somewhere St, Someplace, Someshire</td>
      <td class="numeric">Charge</td>
      <td class="numeric">Archived</td>
      <td></td>
      <td style="font-size: medium;"><a href="../index.html">View</a></td>
    </tr>
  </tbody>
</table>

</div>

</main>

<script>

</script>

{% endblock %}


