{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

<div class="phase-banner">
  <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
  </p>
</div>

 	<!--div class="gobreadcrumb" style="margin-top: 20px">

 		<ol >
 			<li class="" style="float: left;"><a href="">Home</a><span style="color: #cccccc; padding: 0 10px 0 10px">&#62;</span></li>
 			<li class="" style="float: left;"><a href="">AP1</a><span style="color: #cccccc; padding: 0 10px 0 10px">&#62;</span></li>
 			<li>Interstitial</li>
 		</ol>
 		
 	</div>

 	<div style="clear: left;"></div>
    <div style="clear: left;"></div>

      <h1 class="heading-large">
        Application to change the register
      </h1>

      <hr-->

<!--h2 class="heading-medium">Draft application</h2--> 

  <h1 style="margin-top: 70px; font-size: x-large;">The pages you're about to view are part of a redesign of 'Application to change the register'.<br><br>They start with the Home page (which is unchanged) before moving on to the new pages. The new pages are what we would like you to focus on. They use a different design, which we'd like to get your feedback on.<br><br>And, please, be as honest as you like. We're not precious!</h1> 

<!--h2 class="heading-small" style="margin-top: 30px;"><a href="">Print a copy of the application</a></h2-->

<p style="margin-top: 30px;"><a href="/home">Continue</a></p>

</div>
</div>

</main>

{% endblock %}


