{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">


 	<div class="gobreadcrumb" style="margin-top: 20px">

 		<ol >
 			<li class="" style="float: left;"><a href="/home">Home</a><span style="color: #cccccc; padding: 0 10px 0 10px">&#62;</span></li>
 			<li class="" style="float: left;"><a href="/index">AP1</a><span style="color: #cccccc; padding: 0 10px 0 10px"></span></li>
 		</ol>
 		
 	</div>

 	<div style="clear: left;"></div>
    <div style="clear: left;"></div>

      <h1 class="heading-large">
        Application to change the register
      </h1>

      <hr>

		<h2 class="heading-medium">Submitting your application</h2>
      
      <div class="form-group" style="margin-top: -20px;">
        <fieldset>

          <!--div style="background-color: #e6e6e6; height: 40px; margin-bottom: 10px"-->
            <h2 class="heading-small" style="padding-top: 10px; padding-bottom: 10px;">How do you want to submit your application?</h2>
          <!--/div-->

          <div class="multiple-choice" data-target="contact-by-email">
            <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Yes" checked="checked"> 
            <label for="example-contact-by-email">The new way</label>
          </div>

          <div class="multiple-choice" data-target="contact-by-text">
            <input id="example-contact-by-text" type="radio" name="radio-contact-group" value="No">
            <label for="example-contact-by-text">The old way</label>
          </div>

        </fieldset>
      </div>

  </div>
</div>

<div style="margin-top: 20px;">
<a href="/case-list2">
<input class="button" type="submit" value="Continue">      
</a>
</div>

    </div>
  </div>
</main>

{% endblock %}


