{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

 	<div class="gobreadcrumb" style="margin-top: 20px">

 		<ol >
      <li class="" style="float: left;"><a href="/home">Home</a><span style="color: #cccccc; padding: 0 10px 0 10px">&#62;</span></li>
      <li class="" style="float: left;"><a href="/index">AP1</a><span style="color: #cccccc; padding: 0 10px 0 10px">&#62;</span></li>
      <li>Application accepted</li>
 		</ol>
 		
 	</div>

 	<div style="clear: left;"></div>
    <div style="clear: left;"></div>

      <h1 class="heading-large">
        Application to change the register
      </h1>

      <hr>

<h2 class="heading-medium">Application accepted</h2> 

  <p>You must quote the reference below each time you contact us about this application.</p> 

<table>
  <tbody>
    <tr>
      <td style="font-size: medium; font-weight: bold; border-color: white;">Reference</td>
      <td style="font-size: medium; border-color: white;">A123BCD</td>
    </tr>
    <tr>
      <td style="font-size: medium; font-weight: bold; border-color: white;">Date</td>
      <td style="font-size: medium; border-color: white;">02 March 2018</td>
    </tr>
    <tr>
      <td style="font-size: medium; font-weight: bold; border-color: white;">Time</td>
      <td style="font-size: medium; border-color: white;">16:14:27</td>
    </tr>
  </tbody>
</table>

<h2 class="heading-small" style="margin-top: 30px;"><a href="">Print a copy of this application</a></h2>

</div>

</div>

</div>
</main>

{% endblock %}


