{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<style>
#sortable {list-style-type: none; margin-left: 10px; padding: 0; width: 100%;}
#sortable li {}

/*.upload-btn-wrapper {
#sortable li span {position:}
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: white;
  background-color: gray;
  padding: 5px 15px;
  border-radius: 0px;
  border-bottom: 2px solid black;
  font-size: 20px;
  font-weight: normal;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}*/
  </style>

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  
  <script>
  $(function() {
    $("#sortable").sortable();
    $("#sortable").disableSelection();
  } );
  </script>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

 	<div class="gobreadcrumb" style="margin-top: 20px">

 		<ol>
      <li class="" style="float: left;"><a href="/home">Home</a><span style="color: #cccccc; padding: 0 10px 0 10px">&#62;</span></li>
      <li class="" style="float: left;"><a href="/index">AP1</a><span style="color: #cccccc; padding: 0 10px 0 10px">&#62;</span></li>
      <li>Review Transaction</li>
 		</ol>
 		
 	</div>

 	<div style="clear: left;"></div>
    <div style="clear: left;"></div>

      <h1 class="heading-large">
        Application to change the register
      </h1>

      <hr>

		<h2 class="heading-medium" style="margin-top: 15px;">Review application</h2>

    <p>Remember, restrictions in deeds may apply to other deeds of lower priority, unless you specify otherwise.</p>

    <table style="margin-bottom: 30px;">
      <thead>
        <tr>
          <th scope="col" style="font-size: medium;">Fees</th>
          <th style="font-size: medium" class="numeric">Amount</th>
          <th></th>             
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="col">Fees paid</td>
          <td class="numeric">£40.00</td>
          <td scope="col" style="text-align: right;"><a href="/add-application-dropdown2">Change</a></td>
        </tr>
      </tbody>
    </table>
    <h2 class="heading-small" style="margin-bottom: 20px;">Transaction(s)</h2>

<table style="margin-bottom: 30px;">
  <thead>
    <tr>
      <th scope="col" style="font-size: medium;">Transaction type</th>
      <th class="numeric" scope="col" style="font-size: medium;">Value or price paid</th>
      <th class="numeric" scope="col" style="font-size: medium;">Fees paid</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <ul id="sortable">
  <tbody>
    <tr>
      <td scope="row">Transfer</th>
      <td class="numeric">£125,000</td>
      <td scope="col" style="text-align: right;"><a href="/add-application-dropdown2">Change</a></td>
    </tr>
  </tbody>
  </ul>
</table>

<h2 class="heading-small" style="margin-bottom: 20px;">Do you want to add another transaction?</h2>

<div class="form-group">
  <form action="" onsubmit="return doSubmit(this)">
    <fieldset>

      <div class="multiple-choice">
        <input id="radio-2" type="radio" name="radio-group" value="/add-applicant-details" checked="checked" required="">
        <label for="radio-2">No</label>
      </div>
      <div class="multiple-choice">
        <input id="radio-1" type="radio" name="radio-group" value="/add-another-application-dropdown2" required>
        <label for="radio-1">Yes</label>
      </div>

    </fieldset>

    <div class="" style="margin-top: 30px;">
    <a href="/add-applicant-details">
    <input class="button" type="submit" value="Save and continue">      
    </a>
    </div>
  </form>
</div> 

<!--div class="column-one-third" style="float: right; margin-top: 0px; margin-top: 129px;">

<hr>  

  <h2 class="heading-small" style="margin-top: 15px;">Documents lodged with this application</h2>
    
   <p>Documents lodged with this form need to be uploaded. We only need certified copies of deeds or documents. Once we have made a copy of the documents you send to us, they will be destroyed. This applies to both originals and certified copies.</p> 

<div class="upload-btn-wrapper">
  <button class="btn" for="file-input">
    Upload a file
  </button>
  <input type="file" id="file-input">
</div>

<div style="clear: right;"></div-->


</div>
</div>
</main>

<script type="text/javascript">
    function doSubmit(form) {
      var urls = form['radio-group'];
      var i = urls && urls.length;
      while (i--) {
        if (urls[i].checked) {
          window.location = urls[i].value;
        }
      }
      return false;
    }
</script>

{% endblock %}


