{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<style>

/*===== Vertical Timeline =====*/
#conference-timeline {
  position: relative;
  max-width: auto;
  width: 100%;
  align-items: left;
  margin-left: 0px;

}

#conference-timeline .conference-center-line {
  position: absolute;
  width: 1px;
  height: 90%;
  top: 0;
  bottom: 0px;
  left: 16px;
  margin-left: -1px;
  background: black;

}
#conference-timeline .conference-timeline-content {
  padding-top: 0px;
  padding-bottom: 0px;
}

.timeline-article {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 20px 0;
}

.timeline-article .content-right-container {
  max-width: 87%;
  width: 100%;
  margin-left: -20px;
}


.timeline-article .content-right {
  position: relative;
  width: 100%;
  padding: 0px 10px;
}
.timeline-article p {
  margin: 0 0 0 10;
  padding: 0 0 0 0;
  font-weight: 400;
  color: #242424;
  font-size: 16px;
  line-height: 24px;
  position: relative;
}

.timeline-article .content-complete {
  margin: 0 0 0 10;
  padding: 0 0 0 0;
  font-weight: 400;
  color: #242424;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  position: relative;
}

.timeline-article .content-right-container {
  float: right;
}

.timeline-article .content-right:before{
  position: absolute;
  content: "";
  left: -8px;
  top: 20px;
  font-size: 23px;
  color: #fff;
}

.timeline-article .meta-date {
  position: absolute;
  top: 0;
  left: 16px;
  width: 30px;
  height: 30px;
  margin-left: -16px;
  border-radius: 100%;
  border: 1px solid #BFC1C3;
  background: #FFF;
}

.timeline-article .meta-date .date {
  display: block;
  text-align: center;
  font-weight: 900;
  color: #BFC1C3;

}
.timeline-article .meta-date .date {
  font-size: 14px;
  line-height: 30px;

}

/*===== // Vertical Timeline =====*/

.section-heading {
  float: left;
  padding: 5px 30px;

} 

.alert {
  padding: 0px;
  margin-bottom: 0px;
}

.alert.info {
  background-color: #FFFFFF;
  border: 3px solid #005EA5
}

.confirmation {
  padding: 0px;
  margin-bottom: 0px;
}

.confirmation.info {
  background-color: #28A197;
  border: 3px solid #28A197
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: white;
  background-color: gray;
  padding: 5px 15px;
  border-radius: 0px;
  border-bottom: 2px solid black;
  font-size: 20px;
  font-weight: normal;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
</style>

<main id="content" role="main">
  <div class="grid-row">

<div class="column-full">
    <div class="gobreadcrumb" style="margin-top: 20px">

    <ol >
      <li class="" style="float: left;"><a href="/home">Home</a><span style="color: #cccccc; padding: 0 10px 0 10px">&#62;</span></li>
      <li class="" style="float: left;"><a href="/index">AP1</a></li>
    </ol>
    
  </div>

  <div style="clear: left;"></div>
  <div style="clear: left;"></div>

<h1 class="heading-large">
  Application to change the register
</h1>

<form id="draft" class="hidden" method="post" action="where-you-want-to-post/journal">
  <div class="alert info">
    <p style="margin-left: 10px; margin-top: 10px; margin-bottom: 10px;"><span style="font-weight: bold;">Draft application</span><br>Your application has been saved as a draft.</p>
    <p style="margin-left: 10px; margin-top: 10px; margin-bottom: 10px;"><a href="">Print a copy of the application</a></p>
</div>
</form>

  <form id="submit" class="" method="post" action="where-you-want-to-post/journal">
  <div class="confirmation info">
    <p style="margin-left: 10px; margin-top: 10px; margin-bottom: 10px;color: white;"><span style="font-weight: bold; color: white;">Application accepted</span><br>You must quote the reference below each time you contact us about this application.</p>
    <table style="width: 60%; margin-left: 10px;">
      <tbody>
        <tr>
          <td style="font-size: medium; font-weight: bold; border-color: #28A197; color: white;">Reference</td>
          <td style="font-size: medium; border-color: #28A197; color: white;">A123BCD</td>
        </tr>
        <tr>
          <td style="font-size: medium; font-weight: bold; border-color: #28A197; color: white;">Date</td>
          <td style="font-size: medium; border-color: #28A197; color: white;">02 March 2018</td>
        </tr>
        <tr>
          <td style="font-size: medium; font-weight: bold; border-color: #28A197; color: white;">Time</td>
          <td style="font-size: medium; border-color: #28A197; color: white;">16:14:27</td>
        </tr>
      </tbody>
    </table>

    <p style="margin-left: 10px; margin-top: 10px; margin-bottom: 10px;"><a href="" style="color: white;">Print a copy of the application</a></p>
</div>
</form>

  </div>

<div class="column-two-thirds">




<!--form id="submit" class="hidden" method="post" action="where-you-want-to-post/journal">
  <div class="confirmation info">
    <p style="margin-left: 10px; margin-top: 10px; margin-bottom: 10px;color: white;"><span style="font-weight: bold; color: white;">Application accepted</span><br>You must quote the reference below each time you contact us about this application.</p>
    <table style="width: 60%; margin-left: 10px;">
      <tbody>
        <tr>
          <td style="font-size: medium; font-weight: bold; border-color: #28A197; color: white;">Reference</td>
          <td style="font-size: medium; border-color: #28A197; color: white;">A123BCD</td>
        </tr>
        <tr>
          <td style="font-size: medium; font-weight: bold; border-color: #28A197; color: white;">Date</td>
          <td style="font-size: medium; border-color: #28A197; color: white;">02 March 2018</td>
        </tr>
        <tr>
          <td style="font-size: medium; font-weight: bold; border-color: #28A197; color: white;">Time</td>
          <td style="font-size: medium; border-color: #28A197; color: white;">16:14:27</td>
        </tr>
      </tbody>
    </table>

    <p style="margin-left: 10px; margin-top: 10px; margin-bottom: 10px;"><a href="" style="color: white;">Print a copy of the application</a></p>
</div>
</form-->

<hr>

<h2 class="heading-medium">Review your application</h2>

<div style="background-color: #e6e6e6; height: 40px;">
  <h2 class="heading-small" style="padding-top: 10px; padding-left: 5px;">Application</h2>
</div>  

<table>
  <tbody>
    <tr>
      <td style="font-size: medium; font-weight: bold;">Application type</td>
      <td style="font-size: medium;">Transfer</td>
      <td style="text-align: right; font-size: medium;"><a href="../index.html">Change</a></td>
    </tr>
    <tr>
      <td style="font-size: medium; font-weight: bold;">Application applies to</td>
      <td style="font-size: medium;">Part of the title</td>
      <td style="text-align: right; font-size: medium;"><a href="../index.html">Change</a></td>
    </tr>
    <tr>
      <td style="font-size: medium; font-weight: bold;">Which part of the title</td>
      <td style="font-size: medium;">The part edged red on the plan</td>
      <td style="text-align: right; font-size: medium;"><a href="../index.html">Change</a></td>
    </tr>
    <tr>
      <td style="font-size: medium; font-weight: bold;">Value or price paid</td>
      <td style="font-size: medium;">£125,000</td>
      <td style="text-align: right; font-size: medium;"><a href="../index.html">Change</a></td>
    </tr>
    <tr>
      <td style="font-size: medium; font-weight: bold;">Fees paid</td>
      <td style="font-size: medium;">£40.00</td>
      <td style="text-align: right; font-size: medium;"><a href="../index.html">Change</a></td>
    </tr>
  </tbody>
</table>

<div style="margin-top: 40px"></div>

<div style="background-color: #e6e6e6; height: 40px;">
  <h2 class="heading-small" style="padding-top: 10px; padding-left: 5px;">Applicant</h2>
</div>
<table>
  <tbody>
    <tr>
      <td style="font-size: medium; font-weight: bold;">Applicant's name</td>
      <td style="font-size: medium;">A Name</td>
      <td style="text-align: right; font-size: medium;"><a href="../index.html">Change</a></td>
    </tr>
    <tr>
      <td style="font-size: medium; font-weight: bold;">Applicant's type</td>
      <td style="font-size: medium;">A private individual</td>
      <td style="text-align: right; font-size: medium;"><a href="../index.html">Change</a></td>
    </tr>
    <tr>
      <td style="font-size: medium; font-weight: bold;">Applicant's service address</td>
      <td style="font-size: medium;">8 Some Street, Some Place, PL1 1AA</td>
      <td style="text-align: right; font-size: medium;"><a href="../index.html">Change</a></td>
    </tr>
    <tr>
      <td style="font-size: medium; font-weight: bold;">Applicant represented by</td>
      <td style="font-size: medium;">Acme Conveyancers Ltd</td>
      <td style="text-align: right; font-size: medium;"><a href="../index.html">Change</a></td>
    </tr>
  </tbody>
</table>

<div style="margin-top: 40px"></div>

<div style="background-color: #e6e6e6; height: 40px;">
  <h2 class="heading-small" style="padding-top: 10px; padding-left: 5px;">Documents lodged with this application</h2>
</div>
<table>
  <tbody>
    <tr>
      <td style="font-size: medium; font-weight: bold;">Document name</td>
      <td style="font-size: medium;">Transfer of part.pdf</td>
      <td style="text-align: right; font-size: medium;"><a href="../index.html">Change</a></td>
    </tr>
  </tbody>
</table>




<h2 class="heading-medium">Send your application</h2>

<p>By submitting this application you're confirming that, to the best of your knowledge, the details you're providing are correct.</p>

<!--div class="form-group" style="float: left; margin-top: 10px;">
  
  <a href="javascript:unhide('submit', 'draft')" class="button">Submit</a>
  <a href="javascript:unhide('draft', 'submit')" class="btn" style="color: white; text-decoration: none;">Save as draft</a>

</div>

<div style="clear: left;"></div-->

<div class="form-group" style="float: left;">
  <p style="padding-top:20px" >
    <a href="javascript:unhide('submit', 'draft')" class="button" style="margin-top: -8px;">Submit</a>
    <a href="javascript:unhide('draft', 'submit')" class="btn" style="color: white; text-decoration: none; margin-left: 10px;">Save as draft</a>
  </p>
</div>

<div style="clear: left;"></div>

</div>

<div class="column-one-third">

 <hr style="height: 3px; border: none; color: #005EA5; background-color: #005EA5;">

<section id="conference-timeline">

    <div class="conference-center-line"></div>
    <div class="conference-timeline-content">
      <!-- Article -->
      <div class="timeline-article">
        <div class="content-right-container">
          <div class="content-right">
            <p class="content-complete">Add title number</p>
          </div>

        </div>
        <div class="meta-date" style="border: 1px solid #0B0C0C;">
          <span class="date" style="color: #0B0C0C;">1</span>

        </div>
      </div>
      <!-- // Article -->
      
      <!-- Article -->
      <div class="timeline-article">

        <div class="content-right-container">
          <div class="content-right">
            <p class="content-complete">Choose an application type</p>
          </div>

        </div>
        <div class="meta-date" style="border: 1px solid #0B0C0C;" >
          <span class="date" style="color: #0B0C0C;">2</span>

        </div>
      </div>
      <!-- // Article -->

      <!-- Article -->
      <div class="timeline-article">
        <div class="content-right-container">
          <div class="content-right">
            <p class="content-complete">Add applicant details</p>
          </div>

        </div>
        <div class="meta-date" style="border: 1px solid #0B0C0C;" >
          <span class="date" style="color: #0B0C0C;">3</span>

        </div>
      </div>
      <!-- // Article -->

      <!-- Article -->
      <div class="timeline-article">
        <div class="content-right-container">
          <div class="content-right">
            <p class="content-complete">Upload documents</p>
          </div>

        </div>
        <div class="meta-date" style="border: 1px solid #0B0C0C;" >
          <span class="date" style="color: #0B0C0C;">4</span>

        </div>
      </div>
      <!-- // Article -->

      <!-- Article -->
      <div class="timeline-article">
        <div class="content-right-container">
          <div class="content-right">
            <p class="content-complete">Submit your application</p>
          </div>

        </div>
        <div class="meta-date" style="border: 1px solid #0B0C0C;" >
          <span class="date" style="color: #0B0C0C;">5</span>

        </div>
      </div>
      <!-- // Article -->
      
    </div>

  </section>

</div>
</main>

<script type="text/javascript">
    function unhide(divID, otherDivId) {
    var item = document.getElementById(divID);
    if (item) {
            item.className=(item.className=='hidden')?'unhidden':'hidden';
        }
        document.getElementById(otherDivId).className = 'hidden';
    }
</script>

{% endblock %}


