{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

 	<div class="gobreadcrumb" style="margin-top: 20px">

 		<ol >
      <li class="" style="float: left;"><a href="/home">Home</a><span style="color: #cccccc; padding: 0 10px 0 10px">&#62;</span></li>
      <li class="" style="float: left;"><a href="/index">AP1</a><span style="color: #cccccc; padding: 0 10px 0 10px">&#62;</span></li>
      <li>Draft application</li>
 		</ol>
 		
 	</div>

 	<div style="clear: left;"></div>
    <div style="clear: left;"></div>

      <h1 class="heading-large">
        Application to change the register
      </h1>

      <hr>

<h2 class="heading-medium">Draft application</h2> 

  <p>Your application has been saved as a draft.</p> 

<h2 class="heading-small" style="margin-top: 30px;"><a href="">Print a copy of the application</a></h2>

<p style="margin-top: 30px;"><a href="/review-all">Back</a></p>

</div>
</div>

</main>

{% endblock %}


