{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

<div class="phase-banner">
  <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
  </p>
</div>

 	<div class="gobreadcrumb" style="margin-top: 20px">

 		<ol >
 			<li class="" style="float: left;"><a href="home">Home</a><span style="color: #cccccc; padding: 0 10px 0 10px">&#62;</span></li>
 			<li class="" style="float: left;"><a href="">AP1</a><span style="color: #cccccc; padding: 0 10px 0 10px">&#62;</span></li>
 			<li>Type of registration</li>
 		</ol>
 		
 	</div>

 	<div style="clear: left;"></div>
    <div style="clear: left;"></div>

      <h1 class="heading-large">
        Application to change the register
      </h1>

      <hr>

		<h2 class="heading-medium">Choose which type of registration you require</h2>

<div class="form-group">
  <fieldset>

    <div class="multiple-choice">
      <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
      <label for="radio-1">Document registration</label>
    </div>
    <div class="multiple-choice">
      <input id="radio-2" type="radio" name="radio-group" value="Isle of Man or the Channel Islands">
      <label for="radio-2">Lease extension</label>
    </div>
    <div class="multiple-choice">
      <input id="radio-3" type="radio" name="radio-group" value="I am a British citizen living abroad">
      <label for="radio-3">New lease</label>
    </div>
    <div class="multiple-choice">
      <input id="radio-4" type="radio" name="radio-group" value="Northern Ireland">
      <label for="radio-4">Transfer of part</label>
    </div>
    <div class="multiple-choice">
      <input id="radio-5" type="radio" name="radio-group" value="Isle of Man or the Channel Islands">
      <label for="radio-5">Removal of default form A restriction (JP1)</label>
    </div>

  </fieldset>
</div>


<a href="/title-number">
<input class="button" type="submit" value="Save and continue">      
</a>

    </div>
  </div>
</main>

{% endblock %}


